/* Existing styles */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px; /* Added padding to the header */
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 15px;
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

nav a:hover {
  color: #007BFF;
}

/* New styles */
.content-container {
  display: flex;
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Align items vertically */
  padding: 0 65px; /* Same padding as header for alignment */
}

.text-container {
  max-width: 70%; /* Adjust width as needed */
}

.image-container {
  max-width: 30%; /* Adjust width as needed */
}

.image-container img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
}

.projects {
  position: relative;
  text-align: center;
  font-weight: bold;
}

.projects::after {
  content: '';
  display: block;
  width: 60px; /* Adjust width as needed */
  height: 3px; /* Adjust height as needed */
  background-color: #fdc435; /* Adjust color as needed */
  margin: 1px auto 0; /* Adjust spacing as needed */
}

.button-container {
  display: flex; /* Make the container a flexbox */
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Centers the content vertically */
  gap: 10px; /* Add some space between the buttons */
  margin-top: 20px; /* Add some space above the button container */
}

h5 {
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #000; 
  padding: 20px 30px; /* Combine padding into shorthand */
  text-align: center; /* Center the text horizontally */
  display: flex; /* Make the h5 a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin: 0; /* Remove margin to avoid any unwanted spacing */
}

.button1 {
  background-color: #fdc435;
  border-color: #fdc435;
  margin-left: 0; /* Remove left margin */
  padding-left: 0; /* Remove left padding */
}

.button2 {
  border-color: #000;
}
